.header {
  width: 100%;
  height: 80px;
  padding: 5px;
}

.header div h1 {
  float: left;
  padding-left: 10px;
  line-height: 80px;
  width: 60%;

  cursor: pointer;
}

.header nav {
  float: right;

  width: 40%;
  height: 80px;
}

.header nav ul li {
  float: left;

  width: 25%;
  height: 80px;
  text-align: center;
  line-height: 80px;

  cursor: pointer;
}

.header div h1,
.header nav ul li {
  background-color: #f5efe6;
}

.header div h1:hover,
.header nav ul li:hover {
  background-color: #e8dfca;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 5px;
  }
  .header div h1 {
    width: 50%;
  }
  .header nav {
    width: 50%;
  }
  .header nav ul li {
    width: 25%;
    font-size: 12px;
  }
}
