.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.backButton {
  width: 40px;
  height: 40px;
  background-color: #4f6f52;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  margin: 15px auto 15px 10px;
}

.backButton:hover {
  background-color: #1a4d2e;
}

.backButton p {
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.postContainer {
  overflow-y: auto; /* 세로 스크롤 */
  max-height: 500px;
}

.postList {
  list-style: none;
  padding: 0;
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.content {
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

.loadMoreButton {
  background-color: #4f6f52;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: #1a4d2e;
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 320px;
  }

  .postContainer {
    max-height: 400px;
    overflow-y: auto;
  }
}
