.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

/* .box svg {
  margin: auto;
}

.box p {
  width: auto;
  margin: 0px 30px 50px 30px;
  font-size: 16px;
} */

.box button {
  width: 150px;
  height: 30px;
  margin: 5px;
  background-color: #4f6f52;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
}

.box button:hover {
  background-color: #1a4d2e;
}
