.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.selectContainer {
  display: flex;
  justify-content: flex-end;
}

.select {
  margin-bottom: 20px;
}

.postList {
  list-style: none;
  padding: 0;
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.author {
  margin-bottom: 10px;
}

.content {
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

.button {
  background-color: #4f6f52;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #1a4d2e;
}
