.container {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
  padding: 10px;
}

.selectContainer {
  display: flex;
  justify-content: flex-end;
}

.select {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;

  padding: 5px;
  margin-bottom: 20px;
}

.postList {
  list-style: none;
  padding: 0;

  overflow-y: auto; /* 세로 스크롤 */
  max-height: 480px;
}

.post {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.author {
  margin-bottom: 10px;
}

.content {
  margin-bottom: 10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

.button,
.loadMoreButton {
  background-color: #4f6f52;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button:hover,
.loadMoreButton:hover {
  background-color: #1a4d2e;
}

.button.liked {
  background-color: #1a4d2e; /* 좋아요 버튼 눌렀을 때 색상 */
}

.button.liked:hover {
  background-color: #4f6f52; /* 좋아요 버튼 취소시 원래 색상 */
}

.moreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 320px;
  }

  .postList {
    max-height: 400px;
    overflow-y: auto;
  }
}
